/* Override ng-bootstrap default accordion component*/

/deep/ .btn{
  text-decoration: none !important;
}

/deep/ .panel-title {
  color: white;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  text-decoration: none;
}

/deep/ .panel-title:focus,  /deep/ .panel-title:hover{
  text-decoration: none;
}

/deep/ .card-header {
  background-color: #5E6977 !important;
}
