<div class="reset-details">
  <div class="title">
    <p>User Information</p>
  </div>
  <hr>
  <div *ngIf="innerLoading" class="loader"></div>

  <div *ngIf="!innerLoading">
    <form [formGroup]="detailsForm" (ngSubmit)="onSubmitDetailsForm()">
      <div class="info row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">NAME</label>
            <input type="text" id="firstName" class="form-control" name="firstName" formControlName="firstName"
              [maxlength]="52">
            <span *ngIf="detailsForm.get('firstName').invalid && detailsForm.get('firstName').touched">
              <span *ngIf="detailsForm.get('firstName').errors['required']" class="alert-danger">This field is
                required!</span>
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">SURNAME</label>
            <input type="text" id="lastName" class="form-control" name="lastName" formControlName="lastName"
              [maxlength]="52">
            <span *ngIf="detailsForm.get('lastName').invalid && detailsForm.get('lastName').touched">
              <span *ngIf="detailsForm.get('lastName').errors['required']" class="alert-danger">This field is
                required!</span>
            </span>
          </div>
        </div>

      </div>
      <div class="info row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">PHONE NUMBER</label>
            <input type="text" id="phone" class="form-control" name="phone" formControlName="phone" [maxlength]="12">
            <span *ngIf="detailsForm.get('phone').invalid && detailsForm.get('phone').touched" class="alert-danger">
              Please enter a valid phone number!
            </span>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>

      <div class="row controls">
        <div class="col-md-12">
          <button class="btn btn-info" type="submit" [disabled]="detailsForm.invalid || detailsForm.pending">
            Update
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
