.reset-details {
  min-height: 20vh;
  .title {
    font-weight: bold;
    color: black;
  }
  .info {
    label {
      font-size: 14px;
      color: gray;
      font-weight: bold;
    }

    input {
      border-radius: 10px;
    }
  }

  .controls {
    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 14px;
        border-radius: 10px;
      }
    }
  }
}
