<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Shipping Settings</span></ng-template>
    <ng-template ngbTabContent>
      <app-reset-details></app-reset-details>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Email</span></ng-template>
    <ng-template ngbTabContent>
      <app-reset-email></app-reset-email>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tab-title">Password</span></ng-template>
    <ng-template ngbTabContent>
      <app-reset-password></app-reset-password>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
