<div class="modal-header">
  <h4 class="modal-title">Terms of Service</h4>
</div>
<div class="modal-body">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Facilis impedit consectetur esse hic?
    Vitae sint laborum pariatur quas vel maiores!
    Recusandae ut eveniet, nesciunt reiciendis fugiat enim. Similique, voluptatibus harum!</p>
</div>
<div class="modal-footer">
  <p>This is a demo.</p>
  <button type="button" class="btn btn-info" (click)="close()">Close</button>
</div>
