<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Keyist<span> demo </span></h3>

    <p class="footer-links">
      <a routerLink="/">Home</a>

      <a routerLink="/browse">Products</a>

      <a routerLink="/faq">FAQ</a>
    </p>

    <p class="footer-company-name">Ant Kaynak &copy; 2020</p>

    <form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="T4ANFNRUMHH74" />
      <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0"
        name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    </form>
  </div>

  <div class="footer-center">



    <div>
      <i class="fa fa-user"></i>
      <p>Ant Kaynak</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:antkaynak1@gmail.com">antkaynak1@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About Keyist</span>
      Keyist is a demo website to demonstrate a custom ecommerce flow.
      Listed products are not real and we do not collect any payment information.
      You are advised to not use your real personal or payment information.
    </p>

    <div class="footer-icons">

      <a href="https://www.instagram.com/antkaynak/" rel="noopener noreferrer" target="_blank"><i
          class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/ant-kaynak/" rel="noopener noreferrer" target="_blank"><i
          class="fa fa-linkedin"></i></a>
      <a href="https://github.com/antkaynak" rel="noopener noreferrer" target="_blank"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
