<div class="reset-password">
  <div class="title">
    <p>Change Password</p>
  </div>
  <hr>
  <div *ngIf="innerLoading" class="loader"></div>

  <div *ngIf="!innerLoading">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()">
      <div class="info row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="oldPassword">CURRENT PASSWORD</label>
            <input type="password" id="oldPassword" class="form-control" name="oldPassword" placeholder="Password"
              formControlName="oldPassword" [maxlength]="140">
            <span *ngIf="resetPasswordForm.get('oldPassword').invalid && resetPasswordForm.get('oldPassword').touched">
              <span *ngIf="resetPasswordForm.get('oldPassword').errors['required']" class="alert-danger">This field is
                required!</span>
              <span *ngIf="resetPasswordForm.get('oldPassword').errors['minlength']" class="alert-danger">The password
                should at least be 6 digits!</span>
            </span>
          </div>

        </div>
      </div>

      <div class="info row" formGroupName="newPasswordGroup">

        <div class="col-md-6">
          <div class="form-group">
            <label for="newPassword"></label>
            <input type="password" id="newPassword" class="form-control" name="newPassword" placeholder="New Password"
              formControlName="newPassword" [maxlength]="140">
            <span
              *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').invalid && resetPasswordForm.get('newPasswordGroup.newPassword').touched">
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').errors['required']"
                class="alert-danger">This field is required!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').errors['minlength']"
                class="alert-danger">The password should at least be 6 digits!</span>
            </span>
            <span
              *ngIf="resetPasswordForm.get('newPasswordGroup').invalid && resetPasswordForm.get('newPasswordGroup').touched">
              <span
                *ngIf="resetPasswordForm.get('newPasswordGroup').errors != null && resetPasswordForm.get('newPasswordGroup').errors['noMatch']"
                class="alert-danger">The passwords must match!</span>
            </span>
          </div>

        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="newPasswordConfirm"></label>
            <input type="password" id="newPasswordConfirm" class="form-control" name="newPasswordConfirm"
              placeholder="New Password Again" formControlName="newPasswordConfirm" [maxlength]="140">
            <span
              *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').invalid && resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').touched">
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').errors['required']"
                class="alert-danger">This field is required!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').errors['minlength']"
                class="alert-danger">The password should at least be 6 digits!</span>
            </span>
          </div>
        </div>
      </div>

      <div class="row controls">
        <div class="col-md-12">
          <button class="btn btn-info" type="submit"
            [disabled]="resetPasswordForm.invalid || resetPasswordForm.pending">
            Update
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
