.container {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb20 {
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
}

.mb20 h1 {
  font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin-top: 0;
  line-height: 1.15;
}

.mb20 h2.lead {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin: 0;
  padding-bottom: 10px;
}

.search-result .thumbnail {
  border-radius: 0 !important;
}

.search-result:first-child {
  margin-top: 0 !important;
}

.search-result {
  margin-top: 20px;
}

.search-result ul {
  padding-left: 0 !important;
  list-style: none;
}

.search-result ul li {
  font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
  line-height: 30px;
}

.search-result ul li i {
  padding-right: 5px;
}

.search-result .col-md-7 {
  position: relative;
}

.search-result h3 {
  font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.search-result h3 > a, .search-result i {
  color: #17a2b8 !important;
}

.search-result p {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.search-result span.plus {
  position: absolute;
  right: 0;
  top: 126px;
}

.search-result span.plus a {
  background-color: #248dc1;
  padding: 5px 5px 3px 5px;
}

.search-result span.plus a:hover {
  background-color: #414141;
}

.search-result span.plus a i {
  color: #fff !important;
}

.search-result span.border {
  display: block;
  width: 97%;
  margin: 0 15px;
  border-bottom: 1px dotted #ccc;
}
