<div class="row">
  <div class="col-md-11 m-auto ">
    <form [formGroup]="resetEmailForm" (submit)="onResetEmailSubmit()">
      <div class="form-group">
        <label for="newEmail"></label>
        <input type="text"
               id="newEmail"
               class="form-control"
               name="newEmail"
               placeholder="New Email"
               formControlName="newEmail"
               [maxlength]="140"
        >
        <span *ngIf="resetEmailForm.get('newEmail').invalid && resetEmailForm.get('newEmail').touched">
                    <span class="alert-danger">Please enter a valid email!</span>
                  </span>
      </div>

      <div class="form-group">
        <label for="newEmailConfirm"></label>
        <input type="text"
               id="newEmailConfirm"
               class="form-control"
               name="newEmailConfirm"
               placeholder="New Email Again"
               formControlName="newEmailConfirm"
               [maxlength]="140"
        >
        <span *ngIf="resetEmailForm.get('newEmailConfirm').invalid && resetEmailForm.get('newEmailConfirm').touched">
                    <span class="alert-danger">Please enter a valid email!</span>
                  </span>
      </div>

      <div class="form-group">
        <label for="password"></label>
        <input type="password"
               id="password"
               class="form-control"
               name="password"
               placeholder="Password"
               formControlName="password"
               [maxlength]="140"
        >
        <span *ngIf="resetEmailForm.get('password').invalid && resetEmailForm.get('password').touched">
              <span *ngIf="resetEmailForm.get('password').errors['required']" class="alert-danger">This field is required!</span>
              <span *ngIf="resetEmailForm.get('password').errors['minlength']" class="alert-danger">The password should at least be 6 digits!</span>
            </span>
      </div>

      <div class="row w-100">
        <div class="col-md-8 offset-md-4" style="text-align: right">
          <div *ngIf="inlineLoading" style="left: 75%" class="loader"></div>
          <button class="btn btn-info" style="width: 40%" type="submit"
                  [style.display]="inlineLoading ? 'none' : 'inline-block'"
                  [disabled]="resetEmailForm.invalid || resetEmailForm.pending">
            Send
          </button>
        </div>
      </div>


    </form>
  </div>
</div>
