
.top{
  background-color: white;
}

.announcement {
  color: rgba(0, 0, 0, .5);
}

.announcement-hidden {
  display: none;
  color: rgba(0, 0, 0, .5);
}

.login-register{
  color: #17a2b8;
  font-weight: 500;
}

.search{
  margin-right: 10px;
}

.search input{
  width: auto;
}

.nav-item{
  display: inline-block;
}

.nav-link{
  padding: 6px;
}

.navbar-collapse{
  align-content: end;
}

.cart-inside{
  min-height: 30vh;
}

.fa-user {
  border-left: 1px solid #E1E8EE;
  padding-left: 10px;
}

.cart-inside {
  position: absolute;
  width: 400px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-toggle::after {
  display: none;
}

@media only screen and (max-width: 346px) {
  .login-register {
    font-size: 0.70em;
    padding: 0 5px 0 0;
  }

  .announcement-hidden {
    font-size: 0.75em !important;
  }

}

@media only screen and (max-width: 767px) {
  .sp {
    text-align: left;
    justify-content: left;
    width: 100%;
  }

  .announcement {
    display: none;
  }

  .announcement-hidden {
    font-size: 0.85em;
    display: inline-block;
  }

}

@media only screen and (max-width: 991px) {
  .cart {
    flex: 5;
    order: 3;
  }
  .browse{
    flex: 5;
    order: 2;
  }
  .navbar{
    display: flex;
    flex-direction: row;
  }
  .navbar-toggler{
    flex: 1;
    order:4;
  }
  .navbar-brand{
    flex: 5;
    order:1;
  }
  .login-register{
    flex: 5;
    order: 3;
  }
  .cart-inside {
    width: 220px;
    left: 90px !important; /* Override ng-bootstrap */
  }
  .search input{
    width: 100%;
  }
}

