<div class="title pb-2">Dashboard</div>
<div class="row pt-2">
  <div class="col-md-12 col-12">
    <div class="row">
      <div class="col-md-12 col-12">
        <p class="p-0 m-0">
          Welcome to the Keyist! Please select your operation from the list to the left side.
        </p>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-md-12 col-12">
        <p class="p-0 m-0">
          <a routerLink="/faq">Visit FAQ</a> and for further questions mail me at antkaynak1@gmail.com.
        </p>
      </div>
    </div>
  </div>
</div>
