<div class="bar">
  <div class="row">
    <div class="col-md-3">
      <p class="{{activeStep >= 0 ? 'active': ''}}">Personal Information</p>
    </div>
    <div class="col-md-3">
      <p class="{{activeStep >= 1 ? 'active': ''}}">Shipping</p>
    </div>
    <div class="col-md-3">
      <p class="{{activeStep >= 2 ? 'active': ''}}">Payment</p>
    </div>
    <div class="col-md-3">
      <p class="{{activeStep >= 3 ? 'active': ''}}">Review & Confirm</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngb-progressbar type="info" [value]="activeValue" height="5px"></ngb-progressbar>
    </div>
  </div>
</div>
