<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <form [formGroup]="forgotPasswordForm" (submit)="onForgotPasswordFormSubmit()">
        <div class="form-group">
          <label for="email"></label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="Email"
                 formControlName="email"
                 [maxlength]="240"
          >
          <span *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched"
                class="alert-danger">
                  Please enter a valid email!
        </span>
        </div>

        <button class="btn btn-info" type="submit"
                [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pending">Send!
        </button>

      </form>
    </div>
  </div>
</div>
