<div class="forgot-password container">
  <div class="row title">
    <p>Please enter your email associated with your account.</p>
  </div>
  <hr>
  <div *ngIf="innerLoading" class="loader"></div>
  <div *ngIf="!innerLoading" class="row">
    <div class="col-md-6">
      <form [formGroup]="forgotPasswordForm" (submit)="onForgotPasswordFormSubmit()">
        <div class="form-group">
          <label for="email"></label>
          <input type="text" id="email" class="form-control" name="email" placeholder="Email" formControlName="email"
            [maxlength]="240">
          <span *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched"
            class="alert-danger">
            Please enter a valid email!
          </span>
        </div>

        <button class="btn btn-info" type="submit"
          [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pending">Submit
        </button>

      </form>
    </div>
  </div>
</div>
